@model IEnumerable<LobbyistRehaulwithReact.Models.MasterList>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LobbyistID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Principal_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Withdrawal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lobbyist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LawFirmEmployeer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LobbyistAdd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LobbyistPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.principal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrincipalAdd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrincipalPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssociatedProject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.issue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.amountPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateOfPayment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.linkToApplication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.principleEmail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LobbyistID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Principal_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Withdrawal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lobbyist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LawFirmEmployeer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LobbyistAdd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LobbyistPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.principal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrincipalAdd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrincipalPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssociatedProject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.issue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amountPaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateOfPayment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.linkToApplication)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.principleEmail)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
